<p>location-manager works!</p>

<form class="location-form" [formGroup]="locationForm" (ngSubmit)="addLocation(locationForm.value)">

  <mat-form-field class="example-full-width">
    <mat-label for="name">Name</mat-label>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label for="maximum_capacity">Maximum Capacity</mat-label>
    <input matInput placeholder="Max Capacity" formControlName="maximum_capacity">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label for="latitude">Latitud</mat-label>
    <input matInput placeholder="Latitud" formControlName="latitude">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label for="longitude">Longitud</mat-label>
    <input matInput placeholder="Longitud" formControlName="longitude">
  </mat-form-field>


  <button type="submit" mat-raised-button>Agregar local </button>

</form>

<a routerLink="/location/all">Ver todas las locaciones</a>