<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="50">
      <mat-toolbar color="primary">
        <span class="span">MENÚ DE LOCACIÓN</span>
        <button mat-icon-button>
          <mat-icon routerLink="/user">arrow_back</mat-icon>
        </button>
      </mat-toolbar>
      <form [formGroup]="locationForm" (ngSubmit)="addLocation(locationForm.value)" fxLayoutAlign="stretch" fxLayout="column" class="login-form" style="text-align:center;">
          
          <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="name">
          </mat-form-field>
        
          <mat-form-field>
            <input matInput placeholder="Capacidad Máxima" formControlName="maximum_capacity">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Latitud" formControlName="latitude">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Longitud" formControlName="longitude">
          </mat-form-field>

          <button mat-raised-button type="submit">Agregar Locación</button>

        <h2 style="font-weight: bolder;margin-top: 10px;"> LOCACIONES </h2>
        <app-locations style="margin-top: 10px;"></app-locations>
      </form>
        
      </mat-card>
</div>