<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="40">
        <mat-toolbar color="primary">
            <span *ngIf="has_to_checkin" class="span">
                CHECKIN
            </span>
            <span *ngIf="!has_to_checkin" class="span">
                CHECKOUT
            </span>
            <button mat-icon-button>
                <mat-icon routerLink="/user">arrow_back</mat-icon>
            </button>
        </mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayoutGap="30px" fxLayout="column" class="login-form">
            
            <!-- Scanner QR -->
            <h1 style="text-align: center;">POR FAVOR ESCANEE EL QR DE LA LOCACIÓN </h1>
            <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
            <button mat-button disabled>{{ message }}</button>


            <!-- <h1 style="text-align: center;">POR FAVOR INGRESE EL ID DE LA LOCACIÓN </h1>
            <mat-form-field>
                <input matInput #boxLocationId (keyup.enter) ="onCodeResult(boxLocationId.value)">
            </mat-form-field>
            <button mat-button disabled>{{ message }}</button> -->

        </form>
    </mat-card>
</div>
