<h1>{{ message }}</h1>

<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary"><span class="span"> REGÍSTRATE </span></mat-toolbar>
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
              <input matInput formControlName="username" placeholder="Usuario">
            </mat-form-field>
          
            <mat-form-field>
                <input matInput formControlName="password" type="password" placeholder="Contraseña">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="email" type="email" placeholder="Email">
            </mat-form-field>

            <button mat-raised-button type="submit">Crear cuenta</button>

            <small style="margin-top: 20px;">¿Tienes cuenta? <a routerLink="/login">Iniciar sesión</a> </small>
        </form>
    </mat-card>
</div>


