<p>menu works!</p>

<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

    <div>
        <label for="username">
          Username
      </label>
      <input type="text" formControlName="username">
  </div>

  <div>
    <label for="password">
      Password
  </label>
  <input type="text" formControlName="password">
</div>

<button class="button" type="submit">Login</button>

</form>

<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">

    <div>
        <label for="username">
          Username
      </label>
      <input type="text" formControlName="username">
  </div>

  <div>
    <label for="password">
      Password
  </label>
  <input type="text" formControlName="password">
  </div>

  <div>
    <label for="email">
      Email
  </label>
  <input type="text" formControlName="email">
  </div>

<button class="button" type="submit">Register</button>

</form>