<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            
            <mat-form-field>
              <input formControlName="username" matInput placeholder="User">
            </mat-form-field>
          
            <mat-form-field>
                <input formControlName="password" matInput type="password" placeholder="Password">
            </mat-form-field>
            <button mat-raised-button type="submit">Login</button>

            <small style="margin-top: 20px;">Not a member? <a routerLink="/registration">click here</a> </small>

        </form>
    </mat-card>
</div>