<!-- <h1>Admin Dashboard</h1> -->
<!-- <br>
<br>
<h2>Locations</h2>
<p>Cantidad de locales: {{ number_of_locations }}</p>
<p>{{ locations_data | json }}</p>
<br>
<h2>Users</h2>
<p>Cantidad de usuarios : {{ number_of_users }}</p>
<p>"Numero de infectados: "</p>
<p>{{ users_data | json }}</p> -->

<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <mat-card class="stats-card" fxFlex="25" style="height: 200px;text-align: center;">
        <h2>Infectados {{ number_of_infected }}</h2>
    </mat-card>
    
    <mat-card class="stats-card" fxFlex="25" style="height: 200px;text-align: center;">
        <h2>Cantidad de locales {{ number_of_locations }}</h2>
    </mat-card>
    
    <mat-card class="stats-card" fxFlex="25" style="height: 200px;text-align: center;">
        <h2> Cantidad de usuarios {{ number_of_users }} </h2>
    </mat-card>
</div>
