<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
    <mat-card class="stats-card" fxFlex="25" style="height: 200px;text-align: center;">
        <h2 style="font-size: xxx-large;">{{ number_of_infected }}</h2>
        <h2 style="font-size: x-large;">INFECTADOS</h2>
    </mat-card>

    <mat-card class="stats-card" fxFlex="25" style="height: 200px;text-align: center;" >
        <h2 style="font-size: xxx-large;">{{ number_of_in_risk }}</h2>
        <h2 style="font-size: x-large;">EN RIESGO</h2>
    </mat-card>
    
    <mat-card class="stats-card" fxFlex="25" style="height: 200px;text-align: center;">
            <h2 style="font-size: xxx-large;"> {{ number_of_locations }}</h2>
            <h2 style="font-size: x-large;">LOCACIONES</h2>
    </mat-card>
    
    <mat-card class="stats-card" fxFlex="25" style="height: 200px;text-align: center;">
        <h2 style="font-size: xxx-large;"> {{ number_of_users }} </h2>
        <h2 style="font-size: x-large;">USUARIOS</h2>
    </mat-card>
</div>
