<p>user works!</p>
<nav>
  <a routerLink="manage/"> Manejar locaciones </a>
</nav>

<nav *ngIf="has_to_checkin; then thenCheckBlock else elseCheckBlock"></nav>
<ng-template #thenCheckBlock>  <a routerLink="checkin/"> Checkin </a> </ng-template>
<ng-template #elseCheckBlock>  <a routerLink="checkout/"> Checkout </a> </ng-template>

<div *ngIf="!is_infected">
    <button (click)="informInfection()">Informar contagio</button>
</div>

<div *ngIf="is_infected">
    <button (click)="informDischarge()">Informar alta</button>
</div>