<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">
            <span class="span">{{ name | uppercase }} </span>
            <button mat-icon-button>
                <mat-icon routerLink="/user">arrow_back</mat-icon>
            </button>
        </mat-toolbar>
        
        <div fxLayoutAlign="stretch" fxLayout="column">
            <h2>Maximum Capacity: {{ maximum_capacity }}</h2>
            <h2>People Inside: {{ people_inside }}</h2>
            <h2 *ngIf="is_author">Location is yours</h2>
            <h2 *ngIf="!is_author">Location is not yours</h2>

            <button *ngIf="is_author" mat-raised-button (click)="onDownloadQr()">DOWNLOAD QR</button>

        </div>
    </mat-card>
</div>